/**
 * Editor
 */

#editor-xtd-buttons {

    .btn {

      span[class^="icon"] {
        margin-right: 4px !important;
      }

      margin-bottom: 4px !important;
      margin-right: 4px !important;

    }
}