// ==========================================================================
// Kodekit UI
// ==========================================================================

$k-icon-path: '../../framework/fonts' !default;
$k-atom-html: false;
$k-atom-body: false;

@import "../../../../../../../../../kodekit-ui/src/scss/admin-ui";

.k-ui-namespace {
  @include k-html;
  @include k-body;
}

// ==========================================================================
// Joomla styling
// ==========================================================================

.k-ui-j3 {
  @import "icomoon";
}

.k-ui-j4-administrator {

  @import "admin_j4";
}

.k-ui-j4-form {

  .k-ui-namespace {

    .fade.show {
      opacity: 1;
    }

    @import "form_j4";
  }

  .k-editor-modal .mfp-content {
    width: 80vw;
    height: 70vh;
  }
}

@import "styles";
