/**
 * Component styling
 * =================
 * Used in Joomla views that are not controlled by us, such as menu and module views
 */


/**
 * Global tools
 * ------------
 * Containing different libraries, variables, mixins and functions
 */

@import "../../../kodekit-ui/src/scss/admin/core/tools";



/**
 * Needed styling
 * --------------
 * Load needed styling in here
 */

@import "../../../kodekit-ui/node_modules/select2/src/scss/core";
@import "../../../kodekit-ui/src/scss/admin/molecules/dropdowns"; /* We need the dropdowns for the datepicker until we found a better datepicker */
@import "../../../kodekit-ui/src/scss/admin/molecules/modal";
@import "../../../kodekit-ui/src/scss/admin/molecules/select2";

